In [24]:
import requests
from bs4 import BeautifulSoup
import locale
from datetime import datetime
import pandas as pd

pd.set_option('display.max_rows', None)

In [3]:
url_fms_arg = 'https://mundofreestyle.com/calendario-fms-argentina/'

In [4]:
response = requests.get(url=url_fms_arg)
response.status_code

200

In [5]:
soup = BeautifulSoup(response.content)

In [6]:
fms_tables_titles = soup.select('h3 strong')
fms_tables = soup.find_all(name='table')

In [7]:
[title.text for title in fms_tables_titles]

['Fechas y ciudades – Temporada 2022',
 'Temporada 2020/2021',
 'Temporada 2019',
 '¡Vive todos los eventos y fechas de FMS Argentina!']

In [8]:
fms_tables[0]

<table style="color: var( --e-global-color-text ); font-family: var( --e-global-typography-text-font-family ), Sans-serif; font-weight: var( --e-global-typography-text-font-weight ); height: 310px;" width="210">
<tbody>
<tr>
<td> </td>
<td><strong>Fecha</strong></td>
<td><strong>Ciudad</strong></td>
</tr>
<tr>
<td>1</td>
<td>4 de diciembre de 2021</td>
<td>Mendoza</td>
</tr>
<tr>
<td>2</td>
<td>29 de diciembre de 2021</td>
<td>Buenos Aires</td>
</tr>
<tr>
<td>3</td>
<td>30 de abril de 2022</td>
<td>La Plata</td>
</tr>
<tr>
<td>4</td>
<td>18 de junio de 2022</td>
<td>Rosario</td>
</tr>
<tr>
<td>5</td>
<td>27 de agosto de 2022</td>
<td>Corrientes</td>
</tr>
<tr>
<td>6</td>
<td></td><td> </td>
</tr>
<tr>
<td>7</td>
<td></td><td> </td>
</tr>
<tr>
<td>8</td>
<td></td><td> </td>
</tr>
<tr>
<td>9</td>
<td></td><td> </td>
</tr>
<tr>
<td>10</td>
<td></td><td> </td>
</tr>
<tr>
<td>11</td>
<td></td><td> </td>
</tr>
</tbody>
</table>

In [77]:
fms_tables[0].select('tr')[2].select('td')[1].text

'29 de diciembre de 2021'

In [78]:
fms_tables[0].select('tr')[0]

<tr>
<td> </td>
<td><strong>Fecha</strong></td>
<td><strong>Ciudad</strong></td>
</tr>

In [79]:
# Testing how to convert a string date into a date type date:

test_date = str(fms_tables[0].select('tr')[2].select('td')[1].text)
test_date_clean = ",".join([word for word in test_date.split(" ") if word != 'de'])

In [80]:
locale.setlocale(locale.LC_ALL, 'es_ES.utf8')

# date_str_es = '27-Octubre-2020'  # es_ES locale
# datetime_object = datetime.strptime(date_str_es, '%d-%B-%Y')
datetime_object = datetime.strptime(test_date_clean, '%d,%B,%Y')
print(datetime_object.date())

2021-12-29

In [27]:
def make_fms_table(soup, league='', lst=[]):
    locale.setlocale(locale.LC_ALL, 'es_ES.utf8')
    
    fms_tables_titles = soup.select('h3 strong')
    fms_tables = soup.find_all(name='table')
    fms_days_list = fms_tables[0].select('tr')
    
    # Getting the first table of each FMS league and let's convert it into a dataframe:
    
    for i in range(1,len(fms_days_list)):
        object_list = fms_days_list[i].select('td')
        date = ",".join([word for word in str(object_list[1].text).split(" ") if word != 'de'])
        
        try:
            date_clean = datetime.strptime(date, '%d,%B,%Y')
        except:
            date_clean = ""
        
        lst.append({'League': league, '#': object_list[0].text, 'Date': date_clean, 'City': object_list[2].text})
        
    return lst

In [18]:
fms_leagues = ['argentina', 'chile', 'colombia-fechas', 'espana', 'mexico', 'peru-fechas']

In [38]:
def checking_all_fms(fms_list):
    lst = []
    
    for fms in fms_list:
        url_fms = 'https://mundofreestyle.com/calendario-fms-'+fms+'/'
        response = requests.get(url=url_fms)
        soup = BeautifulSoup(response.content)
        lst = make_fms_table(league=fms.split('-')[0].capitalize(), soup=soup, lst=lst)

    return lst

In [39]:
fms_list = checking_all_fms(fms_leagues)
fms_list

[{'League': 'Argentina',
  '#': '1',
  'Date': datetime.datetime(2021, 12, 4, 0, 0),
  'City': 'Mendoza'},
 {'League': 'Argentina',
  '#': '2',
  'Date': datetime.datetime(2021, 12, 29, 0, 0),
  'City': 'Buenos Aires'},
 {'League': 'Argentina',
  '#': '3',
  'Date': datetime.datetime(2022, 4, 30, 0, 0),
  'City': 'La Plata'},
 {'League': 'Argentina',
  '#': '4',
  'Date': datetime.datetime(2022, 6, 18, 0, 0),
  'City': 'Rosario'},
 {'League': 'Argentina',
  '#': '5',
  'Date': datetime.datetime(2022, 8, 27, 0, 0),
  'City': 'Corrientes'},
 {'League': 'Argentina', '#': '6', 'Date': '', 'City': '\xa0'},
 {'League': 'Argentina', '#': '7', 'Date': '', 'City': '\xa0'},
 {'League': 'Argentina', '#': '8', 'Date': '', 'City': '\xa0'},
 {'League': 'Argentina', '#': '9', 'Date': '', 'City': '\xa0'},
 {'League': 'Argentina', '#': '10', 'Date': '', 'City': '\xa0'},
 {'League': 'Argentina', '#': '11', 'Date': '', 'City': '\xa0'},
 {'League': 'Chile',
  '#': '1',
  'Date': datetime.datetime(2022, 2, 11, 0, 0),
  'City': 'Concepción'},
 {'League': 'Chile',
  '#': '2',
  'Date': datetime.datetime(2022, 3, 27, 0, 0),
  'City': 'Viña del Mar'},
 {'League': 'Chile',
  '#': '3',
  'Date': datetime.datetime(2022, 5, 7, 0, 0),
  'City': 'Puerto Montt'},
 {'League': 'Chile',
  '#': '4',
  'Date': datetime.datetime(2022, 6, 5, 0, 0),
  'City': '\xa0'},
 {'League': 'Chile',
  '#': '5',
  'Date': datetime.datetime(2022, 7, 10, 0, 0),
  'City': '\xa0'},
 {'League': 'Chile',
  '#': '6',
  'Date': datetime.datetime(2022, 8, 6, 0, 0),
  'City': '\xa0'},
 {'League': 'Chile',
  '#': '7',
  'Date': datetime.datetime(2022, 9, 3, 0, 0),
  'City': '\xa0'},
 {'League': 'Chile',
  '#': '8',
  'Date': datetime.datetime(2022, 10, 2, 0, 0),
  'City': '\xa0'},
 {'League': 'Chile',
  '#': '9',
  'Date': datetime.datetime(2022, 11, 12, 0, 0),
  'City': '\xa0'},
 {'League': 'Chile',
  '#': '10',
  'Date': datetime.datetime(2023, 1, 12, 0, 0),
  'City': '\xa0'},
 {'League': 'Chile',
  '#': '11',
  'Date': datetime.datetime(2023, 1, 15, 0, 0),
  'City': '\xa0'},
 {'League': 'Colombia',
  '#': '1',
  'Date': datetime.datetime(2022, 2, 26, 0, 0),
  'City': 'Medellín'},
 {'League': 'Colombia',
  '#': '2',
  'Date': datetime.datetime(2022, 4, 29, 0, 0),
  'City': 'Barranquilla'},
 {'League': 'Colombia',
  '#': '3',
  'Date': datetime.datetime(2022, 5, 6, 0, 0),
  'City': 'Cali'},
 {'League': 'Colombia',
  '#': '4',
  'Date': datetime.datetime(2022, 6, 26, 0, 0),
  'City': 'Bogotá'},
 {'League': 'Colombia',
  '#': '5',
  'Date': datetime.datetime(2022, 7, 24, 0, 0),
  'City': 'Pereira'},
 {'League': 'Colombia',
  '#': '6',
  'Date': datetime.datetime(2022, 8, 20, 0, 0),
  'City': '–'},
 {'League': 'Colombia',
  '#': '7',
  'Date': datetime.datetime(2022, 9, 24, 0, 0),
  'City': '–'},
 {'League': 'Colombia',
  '#': '8',
  'Date': datetime.datetime(2022, 10, 8, 0, 0),
  'City': '–'},
 {'League': 'Colombia',
  '#': '9',
  'Date': datetime.datetime(2022, 11, 6, 0, 0),
  'City': '–'},
 {'League': 'Colombia', '#': '10', 'Date': '', 'City': '–'},
 {'League': 'Colombia',
  '#': '11',
  'Date': datetime.datetime(2023, 2, 5, 0, 0),
  'City': '–'},
 {'League': 'Espana',
  '#': '1',
  'Date': datetime.datetime(2021, 12, 18, 0, 0),
  'City': 'Avilés'},
 {'League': 'Espana',
  '#': '2',
  'Date': datetime.datetime(2022, 2, 5, 0, 0),
  'City': 'Granada'},
 {'League': 'Espana',
  '#': '3',
  'Date': datetime.datetime(2022, 3, 26, 0, 0),
  'City': 'Santiago de Compostela'},
 {'League': 'Espana',
  '#': '4',
  'Date': datetime.datetime(2022, 5, 7, 0, 0),
  'City': 'Salamanca'},
 {'League': 'Espana',
  '#': '5',
  'Date': datetime.datetime(2022, 6, 26, 0, 0),
  'City': 'Zaragoza'},
 {'League': 'Espana',
  '#': '6',
  'Date': datetime.datetime(2022, 9, 10, 0, 0),
  'City': '–     '},
 {'League': 'Espana',
  '#': '7',
  'Date': datetime.datetime(2022, 10, 1, 0, 0),
  'City': '–'},
 {'League': 'Espana',
  '#': '8',
  'Date': datetime.datetime(2022, 11, 19, 0, 0),
  'City': '–'},
 {'League': 'Espana',
  '#': '9',
  'Date': datetime.datetime(2023, 1, 28, 0, 0),
  'City': '–'},
 {'League': 'Espana',
  '#': '10',
  'Date': datetime.datetime(2023, 2, 10, 0, 0),
  'City': '–'},
 {'League': 'Espana',
  '#': '11',
  'Date': datetime.datetime(2023, 2, 12, 0, 0),
  'City': '–'},
 {'League': 'Mexico',
  '#': '1',
  'Date': datetime.datetime(2022, 1, 8, 0, 0),
  'City': 'Monterrey'},
 {'League': 'Mexico',
  '#': '2',
  'Date': datetime.datetime(2022, 2, 6, 0, 0),
  'City': 'Puebla'},
 {'League': 'Mexico',
  '#': '3',
  'Date': datetime.datetime(2022, 5, 1, 0, 0),
  'City': 'Ciudad Juárez'},
 {'League': 'Mexico',
  '#': '4',
  'Date': datetime.datetime(2022, 7, 9, 0, 0),
  'City': '\xa0León'},
 {'League': 'Mexico', '#': '5', 'Date': '', 'City': '\xa0'},
 {'League': 'Mexico', '#': '6', 'Date': '', 'City': '\xa0'},
 {'League': 'Mexico', '#': '7', 'Date': '', 'City': '\xa0'},
 {'League': 'Mexico', '#': '8', 'Date': '', 'City': '\xa0'},
 {'League': 'Mexico', '#': '9', 'Date': '', 'City': '\xa0'},
 {'League': 'Mexico', '#': '10', 'Date': '', 'City': '\xa0'},
 {'League': 'Mexico', '#': '11', 'Date': '', 'City': '\xa0'},
 {'League': 'Peru',
  '#': '1',
  'Date': datetime.datetime(2021, 10, 10, 0, 0),
  'City': 'Lima'},
 {'League': 'Peru',
  '#': '2',
  'Date': datetime.datetime(2021, 11, 20, 0, 0),
  'City': 'Trujillo'},
 {'League': 'Peru',
  '#': '3',
  'Date': datetime.datetime(2022, 1, 22, 0, 0),
  'City': 'Lima Norte'},
 {'League': 'Peru',
  '#': '4',
  'Date': datetime.datetime(2022, 4, 30, 0, 0),
  'City': 'Arequipa'},
 {'League': 'Peru',
  '#': '5',
  'Date': datetime.datetime(2022, 6, 5, 0, 0),
  'City': 'Chiclayo'},
 {'League': 'Peru',
  '#': '6',
  'Date': datetime.datetime(2022, 7, 9, 0, 0),
  'City': 'Piura'},
 {'League': 'Peru', '#': '7', 'Date': '', 'City': ''},
 {'League': 'Peru', '#': '8', 'Date': '', 'City': ''},
 {'League': 'Peru', '#': '9', 'Date': '', 'City': ''},
 {'League': 'Peru', '#': '10', 'Date': '', 'City': ''},
 {'League': 'Peru', '#': '11', 'Date': '', 'City': ''}]

In [41]:
fms_df = pd.DataFrame(fms_list)
fms_df

/tmp/ipykernel_3416/3628058372.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  fms_df = pd.DataFrame(fms_list)

       League   #       Date                    City
0   Argentina   1 2021-12-04                 Mendoza
1   Argentina   2 2021-12-29            Buenos Aires
2   Argentina   3 2022-04-30                La Plata
3   Argentina   4 2022-06-18                 Rosario
4   Argentina   5 2022-08-27              Corrientes
5   Argentina   6        NaT
6   Argentina   7        NaT
7   Argentina   8        NaT
8   Argentina   9        NaT
9   Argentina  10        NaT
10  Argentina  11        NaT
11      Chile   1 2022-02-11              Concepción
12      Chile   2 2022-03-27            Viña del Mar
13      Chile   3 2022-05-07            Puerto Montt
14      Chile   4 2022-06-05
15      Chile   5 2022-07-10
16      Chile   6 2022-08-06
17      Chile   7 2022-09-03
18      Chile   8 2022-10-02
19      Chile   9 2022-11-12
20      Chile  10 2023-01-12
21      Chile  11 2023-01-15
22   Colombia   1 2022-02-26                Medellín
23   Colombia   2 2022-04-29            Barranquilla
24   Colombia   3 2022-05-06                    Cali
25   Colombia   4 2022-06-26                  Bogotá
26   Colombia   5 2022-07-24                 Pereira
27   Colombia   6 2022-08-20                       –
28   Colombia   7 2022-09-24                       –
29   Colombia   8 2022-10-08                       –
30   Colombia   9 2022-11-06                       –
31   Colombia  10        NaT                       –
32   Colombia  11 2023-02-05                       –
33     Espana   1 2021-12-18                  Avilés
34     Espana   2 2022-02-05                 Granada
35     Espana   3 2022-03-26  Santiago de Compostela
36     Espana   4 2022-05-07               Salamanca
37     Espana   5 2022-06-26                Zaragoza
38     Espana   6 2022-09-10                  –
39     Espana   7 2022-10-01                       –
40     Espana   8 2022-11-19                       –
41     Espana   9 2023-01-28                       –
42     Espana  10 2023-02-10                       –
43     Espana  11 2023-02-12                       –
44     Mexico   1 2022-01-08               Monterrey
45     Mexico   2 2022-02-06                  Puebla
46     Mexico   3 2022-05-01           Ciudad Juárez
47     Mexico   4 2022-07-09                    León
48     Mexico   5        NaT
49     Mexico   6        NaT
50     Mexico   7        NaT
51     Mexico   8        NaT
52     Mexico   9        NaT
53     Mexico  10        NaT
54     Mexico  11        NaT
55       Peru   1 2021-10-10                    Lima
56       Peru   2 2021-11-20                Trujillo
57       Peru   3 2022-01-22              Lima Norte
58       Peru   4 2022-04-30                Arequipa
59       Peru   5 2022-06-05                Chiclayo
60       Peru   6 2022-07-09                   Piura
61       Peru   7        NaT
62       Peru   8        NaT
63       Peru   9        NaT
64       Peru  10        NaT
65       Peru  11        NaT

In [42]:
fms_df.to_csv('data/fms_dates.csv', index=False)